.pokeSpecs{
    height: 90%;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.photoHolder{
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokeName{
    position: absolute;
    bottom: 30%;
    text-align: center;
    width: 90%;
    
}

.mainPhoto{
    position: absolute;
    height:70%;
    top: 5%;
    border: 15px solid white;
    background-color:#ddd;
}

.sideInfo{
    width: 40%;
    background-color: black;
}