:root{
    --color-default:#eeeded;
    --color-legendary: #ffe05d;
    --color-mystic: #efa8e4;
}

* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: auto;
    background-color: cadetblue;
}

.board{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2% auto 2%;
    width: 80%;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 15px;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 5px;
    min-width: 200px;
    min-height: 300px ;
    max-width: 200px;
    max-height: 300px ;
    border-radius: 10px;
    background-color: var(--color-default);
    border: solid 15px #eeeded;
    font-weight: 900;
    text-align: center;
    opacity: 90%;
}

.normal{
    border-color:#eeeded;
}
.mistico{
    border-color: #efa8e4;
}
.lendario{
    border-color: #ffe05d;
}
.figuras{
    padding: 15px;
    margin: auto;
    width: 70%;
    height: 70%;
}
.textoDescritivo{
    font-size: smaller;
    width: 100%;  
    text-align: left;
    background-color: white;
     
}
.imgContainer{
    display: flex;
    align-content: center;
    text-align: center;
    height: 45%;
    background-color: white;
    border-radius: 100%;
   

}
ul{
    display: flex;
    flex-direction: row;
    align-content:space-between;
    text-align: center;
    background-color: white;
    
   
}
li{

border-radius: 15px;
text-decoration-style: none;
list-style: none;
padding: 5px;
}

